/*начало настройки заголовка*/
/*h1{
    padding: 0 0 6px 10px;
    border-left: 10px solid #A6D8CB;
    border-bottom: 2px solid #A6D8CB;
  }
  */
h2{
  margin: 1em 0 0.5em 0;
  color: #148773;
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

/*начало настройки списка h1*/ 
.rounded {
  counter-reset: li; 
  list-style: none; 
  font: 14px "Trebuchet MS", "Lucida Sans";
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  }
  .rounded a {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #DAD2CA;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: .3s ease-out;
  }
  .rounded a:hover {background: #E9E4E0;}
  .rounded a:hover:before {transform: rotate(360deg);}
  .rounded a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #8FD4C1;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
  }
/*начало настройки списка bullet*/
.bullet {
  margin-left: 0;
  list-style: none;
  counter-reset: li;
  }
  .bullet li {
  position: relative;
  margin-bottom: 1.5em;
  border: 3px solid #CADFCF;
  padding: 0.6em;
  border-radius: 4px;
  background: #FEFEFE;
  color: #231F20;
  font-family: "Trebuchet MS", "Lucida Sans";
  }
  .bullet li:before {
  position: absolute;
  top: -0.7em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  font-size: 16px;
  font-weight: bold;
  color: #DCC24B;
  background: #FEFEFE;
  border-radius: 50%;
  counter-increment: li;
  content: counter(li);
  }
/*начало настройки списка h3*/
.holiday {
  overflow: hidden;
  font-size: 12px;
}
.holiday dt, .holiday dd {
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 0.625em 0 0.875em;
  color: #4C565C;
  box-sizing: border-box;
}
dt {
  width: 30%;
  float: left;
  clear: right;
  background: #D3E6DD;
  font-weight: bold;
}
dd {
  width: 70%;
  float: right;
  margin-left: 0;
  margin-bottom: .3125em;
  border: 1px solid #BECFC7;
  border-left: none;
}
/*начало настройки таблицы*/
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    }
    th {
    background: #BCEBDD;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    th:first-child, td:first-child {
    text-align: left;
    }
    th:first-child {
    border-top-left-radius: 10px;
    }
    th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
    }
    td {
    padding: 10px 20px;
    background: #F8E391;
    }
    tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
    }
    tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
    }
    tr td:last-child {
    border-right: none;
    }
/*начало настройки Detalis*/
